
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-chat:before { content: '\f4ac'; } /* '' */