
.icon-right-hand:before { content: '\e800'; } /* '' */
.icon-logo:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e802'; } /* '' */
.icon-leaf:before { content: '\e803'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */