/* primitives, fontello */

html {
    -moz-box-sizing: border-box;     /* moz    */
    -webkit-box-sizing: border-box; /* webkit */
  	box-sizing: border-box;        /* mostly */
}

*, *:before, *:after {
  	box-sizing: inherit;
}

body {
 	margin: 0;
 	padding: 0;
  width: 100%;
  background: #190425;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 100%;
}

p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* absolute center */
  font-family: inherit;
  font-weight: inherit;
  font-size: 23px;
  color: #eee;
  max-width: 600px;
}

b {
  font-weight: 600;
}

a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

/* tooltip */
a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  content: attr(data-tooltip);
  background: #eee;
  color: #190425;
  font-size: 13px;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/* img tooltip */
a[data-img] {
  position: relative;
}
a[data-img]::before,
a[data-img]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-img]::before {
  content: attr(data-img url);
  back
  background: #eee;
  color: #190425;
  font-size: 13px;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
  text-decoration: none;
}
a[data-img]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-img]:hover::before,
a[data-img]:hover::after {
  display: block;
}

/* top tooltip */
a[data-tooltip][data-placement="top"]::before,
a[data-img][data-placement="top"]::before  {
  bottom: 100%;
  left: 0;
  margin-bottom: 4px;
}
a[data-tooltip][data-placement="top"]::after,
a[data-img][data-placement="top"]::before {
  border-top-color: #eee;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: -2px;
}

/* bottom tooltip */
a[data-tooltip][data-placement="bottom"]::before {
  top: 100%;
  left: 0;
  margin-top: 4px;
}
a[data-tooltip][data-placement="bottom"]::after {
  border-bottom-color: #eee;
  border-top: none;
  top: 100%;
  left: 10px;
  margin-top: -2px;
}

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?633703');
  src: url('./font/fontello.eot?633703#iefix') format('embedded-opentype'),
    url('./font/fontello.woff?633703') format('woff'),
    url('./font/fontello.ttf?633703') format('truetype'),
    url('./font/fontello.svg?633703#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}