body {
  background-color: #DBDBDB;
}
@font-face {
  font-family: Alert;
  src: url('../font/Alert.ttf');
}
h3 {
  font-weight: normal;
  float: left;
  margin: 0 0 0 15px;
  padding: 0;
  width: 410px;
  font-family: Alert;
}
h3 a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed #000;
}
h3 a:hover {
  border-bottom: 1px solid #000;
}
.gameboy {
  width: 420px;
  height: 650px;
  margin: 0px auto;
  font-family: Arial;
  background: #a9a9a9;
  border-radius: 16px;
}
.wrapper {
  width: 360px;
  margin: 20px auto;
  padding-top: 25px;
}
.gameboy__screen {
  background: #E3EBBB;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, .8);
  font-family: Alert;
  font-size: 20px;
  width: 240px;
  height: 240px;
  margin: 0 0 30px;
  padding: 10px;
  border: 20px solid #878787;
  border-right: 50px solid #878787;
  border-left: 50px solid #878787;
  border-bottom-right-radius: 16px 16px;
}
.gameboy__screen::after {
  background: #000;
  content: '';
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -2px;
  height: 15px;
  width: 10px;
}
.gameboy__actions {
  display: inline-block;
  float: right;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  position: relative;
  user-select: none;
  width: 110px;
}
.action {
  background-color: #7C1D4F;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #531212;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.5), 1px 0 0 rgba(255, 255, 255, 0.2);
  transition: all .1s linear;
  width: 50px;
}
.action:active {
  box-shadow: inset 4px 4px 0px rgb(0, 0, 0);
  text-shadow: -1px 0 0 rgba(0, 0, 0, 0.5), 1px 0 0 rgba(255, 255, 255, 0.2);
}
.action:nth-child(1) {
  margin: 30px 10px 0 0;
}
#options {
  clear: both;
  height: 30px;
  margin: 0 auto 20px;
  padding: 10px;
  position: relative;
  width: 100px;
  user-select: none;
}
#options .btn {
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  float: left;
  height: 10px;
  font-size: 10px;
  color: #444;
  line-height: 35px;
  text-align: center;
  transition: all .1s linear;
  width: 40px;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
#options .btn:active {
  box-shadow: inset 0 4px 0px rgb(0, 0, 0);
}
#options .btn:nth-child(1) {
  margin-right: 10px;
}
.gameboy__arrows {
  height: 90px;
  position: relative;
  user-select: none;
  width: 90px;
}

.gameboy__arrow {
  background: #444;
  cursor: pointer;
  display: block;
  height: 30px;
  position: absolute;
  text-indent: -10000px;
  transition: all .1s linear;
  width: 30px;
}
.gameboy__arrow::after {
  content: "";
  display: block;
  height: 0;
  left: 7px;
  position: absolute;
  top: 11px;
  visibility: visible;
  width: 0;
  z-index: 200;
}
.gameboy__arrow::before {
  content: "";
  display: block;
  height: 0;
  left: 8px;
  position: absolute;
  top: 10px;
  visibility: visible;
  width: 0;
  z-index: 200;
}
.gameboy__arrow--up {
  border-radius: 5px 5px 0 0;
  left: 30px;
}
.gameboy__arrow--up::after {
  border-bottom: 8px solid #373737;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.gameboy__arrow--up::before {
  border-bottom: 8px solid #5e5e5e;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.gameboy__arrow--up:active {
  box-shadow: inset 4px 0px 0px rgb(0, 0, 0), inset 0 4px 2px rgb(0, 0, 0);
}
.gameboy__arrow--down {
  bottom: 0;
  border-radius: 0 0 5px 5px;
  left: 30px;
}
.gameboy__arrow--down::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #373737;
}
.gameboy__arrow--down::before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #5e5e5e;
}
.gameboy__arrow--down:active {
  box-shadow: inset 4px 0px 0px rgb(0, 0, 0), inset 0 -4px 2px rgb(0, 0, 0);
}

.gameboy__arrow--left {
  top: 30px;
  border-radius: 5px 0 0 5px;
}
.gameboy__arrow--left::after {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #373737;
  left: 11px;
  top: 7px;
}
.gameboy__arrow--left::before {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #5e5e5e;
  left: 12px;
  top: 7px;
}
.gameboy__arrow--left:active {
  box-shadow: inset 0px 4px 2px rgb(0, 0, 0);
}

.gameboy__arrow--right {
  border-radius: 0 5px 5px 0;
  right: 0;
  top: 30px;
}
.gameboy__arrow--right::after {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #373737;
  border-top: 8px solid transparent;
  left: 11px;
  top: 7px;
}
.gameboy__arrow--right::before {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #5e5e5e;
  border-top: 8px solid transparent;
  left: 12px;
  top: 7px;
}
.gameboy__arrow--right:active {
  box-shadow: inset 0px 4px 2px rgb(0, 0, 0);
}
.gameboy__arrow--center {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  cursor: default;
  left: 29px;
  top: 30px;
}
.gameboy__arrow--center::after {
  background: #373737;
  border-radius: 50%;
  height: 15px;
  left: 7px;
  top: 7px;
  width: 15px;
}
.gameboy__arrow--center::before {
  background: #5e5e5e;
  border-radius: 50%;
  height: 15px;
  left: 8px;
  top: 7px;
  width: 15px;
}

@media (max-width: 1287px) {
  h3 {
    font-weight: normal;
    float: left;
    margin: 0 0 0 15px;
    padding: 0;
    width: 250px;
  }
}

@media (max-width: 976px) {
  h3 {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    background-color: #a9a9a9;
  }
  h3 {
    display: none;
  }
  .gameboy {
    background: none;
    width: auto;
    height: auto;
    box-shadow: none;
}
  }
  .wrapper {
    width: 0 auto;
  }
  .gameboy__screen {
    margin: 0 0 30px;

  }
}