html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
ol, ul, li {
  list-style: none;
  list-style-type: none;
  margin: 0;
}
body {
   margin: 0;
   padding: 0;
   background: rgb(68,92,142);
}
h1 {
  font-size: 45px;
  line-height: 45px;
  color: rgb(239,239,239);
  background: rgb(36,36,45);
  font-family: 'Lato', sans-serif;
  padding: 3px 6px 6px 10px;
  margin: 0px;
  width: 360px;
  float: left;
}
h2 {
  font-size: 28px;
  line-height: 28px;
  color: rgb(239,239,239);
  background: rgb(36,36,45);
  font-family: 'Lato', sans-serif;
  padding: 3px 10px 10px 14px;
  margin: 0px;
  max-width: 890px;
  float: left;
}
p {
  font-size: 16px;
  line-height: 16px;
  color: rgb(252,252,252);
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(252,252,252);
  padding: 0px 4px 0px 4px;
  z-index: 5;
  position: relative;
}
li {
  padding: 14px 60px 0px 0px;
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
li a:hover, li a:active, li a.on {
  color: rgb(68,92,142);
  background: rgb(252,252,252);
  border-radius: 2px;
  position: relative;
}
#open {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: url(cover.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#teams {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: url(cover.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wow {
  padding: 260px 0 0 14%;
}
#main{
  position: absolute;
  margin-top: 145px;
  margin-left: 1%;
}
#shoe {
  padding: 6px;
  margin: 0;
  height: 64px;
  width: 100%;
  bottom: 0;
  background: rgb(36,36,45);
  text-align: center;
}
a.minimal {
  color: rgb(168,192,242);
}

li.downu {
  text-decoration: none;
  color: rgb(252,252,252);
  text-align: center;
  position: relative;
  z-index: 5;
}

li.downu:hover, li.downu:active {
  color: rgb(68,92,142);
  background: rgb(252,252,252);
  border-radius: 2px;
  padding: 2px;
  margin: 12px 58px 0px -2px;
}

li.con {
  font-size: 14px;
  line-height: 14px;
  padding: 6px;
  margin: 0;
  text-align: center;
  align: center;
  width: 450px;
}

label {
  cursor: pointer;
}

#menu-toggle {
  display: none; /* hide the checkbox */
}

#menu {
  display: none;
}

#menu-toggle:checked + #menu {
  position: relative;
  z-index: 3;
  display: block;
  width: 450px;
  height: 156px;
  overflow: hidden;
  margin: 2px 0px 0px 0px;
  padding: 0;
  background-color: rgb(68,92,142);
  color: rgb(252,252,252);
}

.logo {
  position: absolute;
  padding: 0;
  margin: 5px 0 0 22px;
}

/* Queries */

@media screen and (max-width: 1100px) {
  .wow {
    padding: 260px 0 0 9%;
  }
  #menu-toggle:checked + #menu {
    position: absolute;
    z-index: 3;
    display: block;
    width: 300px;
    height: 240px;
    overflow: hidden;
    margin: 2px 0px 0px -212px;
    padding: 0;
    background-color: rgb(68,92,142);
    color: rgb(252,252,252);
  }
  li.con {
    font-size: 14px;
    line-height: 14px;
    padding: 6px;
    margin: 0;
    text-align: center;
    align: center;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .logo {
  position: absolute;
  padding: 0;
  margin: 5px 0 0 5px;
  }
  .wow {
    padding: 210px 0 0;
  }
  h1 {
    font-size: 35px;
    line-height: 35px;
    padding: 3px 6px 6px 10px;
    margin: 0;
    width: 340px;
  }
  h2 {
    padding: 3px 10px 10px 14px;
    margin: 0px 0 0 0;
    max-width: 100%;
    float: left;
  }
  li {
    padding: 14px 10px 0px 0px;
  }
  li.downu:hover, li.downu:active {
    margin: 12px 10px 0px -4px;
  }
}
