html {
  	box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
}
ol, ul, li {
  list-style: none;
}
body {
 	margin: 0;
 	padding: 0;
  background: rgb(30,30,31);
  font-family: 'Open Sans', sans-serif;
}
a {
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
	color: rgb(220,79,52);
	border-bottom: 2px solid;
	border-color: transparent;
	-webkit-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
	-moz-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
	-o-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
	transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
}
a:hover, a:active {
	text-decoration: none;
	color: rgb(220,79,52);
	border-bottom: 2px solid rgb(220,79,52);;
	webkit-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    moz-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    -o-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
}
p {
	margin: 0;
	padding: 0;
  font-family: inherit;
  font-size: 18px;
	line-height: 22px;
	color: rgb(30,30,31);
}
h1 {
  font-family: inherit;
  font-weight: 400;
	font-size: 45px;
	line-height: 45px;
	max-width: 740px;
	color: rgb(30,30,31);
	text-align: left;
}
h2 {
  font-family: inherit;
  font-weight: 400;
	font-size: 25px;
	line-height: 23px;
  color: rgb(30,30,31);
	text-align: left;
}
#nav {
	height: 100vh;
	width: 168px;
	padding: 0px;
  background: rgb(30,30,31);
	position: fixed;
  webkit-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    moz-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    -o-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
}
#nav a {
	margin: 0;
	padding: 0;
	font-size: 23px;
	line-height: 19vh;
  font-family: 'Muli', sans-serif;
  color: rgb(230,231,232);
	text-decoration: none;
	display: block;
	padding: 0px 5px 0px 5px;
	width: 168px;
  height: 20%;
	border-bottom: none;
  text-align: center;
}
#nav a:hover, a:active, a.on {
  color: rgb(230,231,232);
  background: rgb(220,79,52);
}
#nav img {
	align: center;
  margin-top: -5px;
}
.grid {
	padding: 0 10% 0 10%;
	margin: 0;
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 25px;
}
.box {
	width: 33%;
	height: auto;
	padding-right: 5px;
	margin: 0px;
	float: left;
	text-align: left;
	overflow: hidden;
}
.box img {
	max-width: 100%;
	height: auto;
	border-left: 1px solid rgb(230,231,232);
	border-right: 1px solid rgb(230,231,232);
}
.box .nobor {
	border-bottom: none;
}
.box a.backstory {
	text-decoration: none;
	color: rgb(30,30,31);
	padding: 7px;
  letter-spacing: -0.5px;
	text-align: center;
	display: block;
	width: 100%;
	background-color: rgb(250,251,252);
	border: 1px solid rgb(230,231,232);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
}
.box a.backstory::before{
	content: "Client title: ";
}
.box a:hover, .box a:active {
	border-bottom: none;
}
p.info {
	border-left: 1px solid rgb(230,231,232);
	padding: 6px 0 0 6px;
	color: rgb(30,30,31);
	margin-top: -6px;
	text-align: left;
  font-size: 17px;
  line-height: 21px;
}
.inthedoor {
	width: 100%;
	height: auto;
	padding: 5px;
	margin: 10px 0;
	float: left;
	text-align: left;
	overflow: hidden;
}
.inthedoor p {
	color: rgb(30,30,31);
}
.beginning {
  height: auto;
	width: 100%;
	padding: 5px;
	float: right;
	background: rgb(252,253,254);
	padding-left: 197px;
  padding-bottom: 25px;
	border-bottom: 1px solid rgb(230,231,232);
}
.middle {
  height: auto;
	width: 100%;
	padding: 5px;
	float: right;
	background: rgb(252,253,254);
	padding-left: 197px;
  padding-bottom: 25px;
}
.unit {
  height: 575;
  width: 475;
  margin: 0;
  padding: 0px 12px 6px 0;
  float: left;
}

/* Media Queries */

@media screen and (max-width:1034px) {
  #nav {
  	width: 105px;
    webkit-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
      moz-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
      -o-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
      transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
  }
  #nav a {
  	padding: 8px 5px 1px 5px;
  	width: 105px;
    font-size: 0.1px;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  	font-size: 25px;
  	line-height: 25px;
  	max-width: 740px;
  	color: rgb(30,30,31);
  	text-align: left;
  }
  .grid {
  	padding: 0 5% 0 5%;
  	margin: 0;
  	float: left;
  	width: 100%;
  	text-align: left;
  	margin-top: 5px;
  }
  p.info {
  	margin-top: -7px;
  }
  .beginning {
  	padding-left: 117px;
    height: auto;
  }
  .middle {
    padding-left: 117px;
    height: auto;
  }
}
@media screen and (max-width:525px) , screen and (max-height: 500px){
  #nav {
  	width: 55px;
    webkit-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
      moz-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
      -o-transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
      transition: all 150ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    }
    #nav a {
    	padding: 8px 5px 1px 5px;
    	width: 55px;
      font-size: 0.1px;
    }
    .grid {
      padding: 0 5% 0 5%;
      margin: 0;
      float: left;
      width: 100%;
      text-align: left;
      margin-top: 5px;
    }
    p.info {
      margin-top: -7px;
    }
    .beginning {
      padding-left: 67px;
      height: auto;
    }
    .middle {
      padding-left: 67px;
      height: auto;
    }
    .box {
    	width: 100%;
    	height: auto;
    	padding-right: 5px;
    	margin: 0px 0px 12px 0px;
    	float: left;
    	text-align: left;
    	overflow: hidden;
    }
    .box img {
    	max-width: 100%;
    	height: auto;
    	border-left: 1px solid rgb(230,231,232);
    	border-right: 1px solid rgb(230,231,232);
    }
}
