html {
  	box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
}
ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
 	margin: 0;
 	padding: 0;
  background: rgb(47,48,51);
  font-family: 'Work Sans', sans-serif;
  color: rgb(197,198,201);
}
a {
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
	color: rgb(170,251,172);
  border-radius: 6px;
	-webkit-transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
	-moz-transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
	-o-transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
	transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
}
a:hover, a:active {
	text-decoration: none;
	color: rgb(5,5,8);
  background-color: rgb(170,251,172);
  border-radius: 5px;
	webkit-transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    moz-transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    -o-transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
    transition: all 100ms cubic-bezier(0.250, 0.250, 0.80, 0.80);
}
p {
	margin: 0;
	padding: 0;
  font-family: inherit;
  font-size: 18px;
	line-height: 23px;
  color: inherit;
}
h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
	font-size: 45px;
	line-height: 45px;
	max-width: 740px;
	color: inherit;
	text-align: left;
  margin: 74px 0 56px 0;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
	font-size: 45px;
	line-height: 45px;
	max-width: 740px;
	color: inherit;
	text-align: left;
  margin: 45px 0 56px 0;
}
#nav {
	height: 52px;
	width: 100%;
  padding: 0 0 0 20vw;
	position: fixed;
  background: inherit;
}
#nav li a {
	font-size: 23px;
  line-height: 23px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: rgb(197,198,201);
	text-decoration: none;
	display: block;
  float: left;
	padding: 13px 0px 0px 0px;
  height: 52px;
  width: 12vw;
  text-align: center;
  border-radius: 0px;
}
#nav li a:hover, li a:active, li a.on {
  background: none;
  color: rgb(250,251,252);
  border-radius: 0px;
}
#nav li img {
	align: center;
  margin-top: -5px;
  fill: rgb(170,171,172);
}
.grid {
	padding: 0 10% 0 10%;
	margin: 0;
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 25px;
}
.box {
	width: 33%;
	height: auto;
	padding-right: 5px;
	margin: 0px;
	float: left;
	text-align: left;
	overflow: hidden;
}
.box img {
	max-width: 100%;
	height: auto;
}
.box a:hover, .box a:active {
	border-bottom: none;
}
.beginning {
  height: auto;
	width: 100%;
	padding: 5px;
	float: right;
  background: rgb(9,9,25);
  padding-bottom: 45px;
	border-bottom: 1px solid rgb(230,231,232);
}
.middle {
  height: auto;
	width: 100%;
	padding: 5px;
	float: right;
  background: rgb(9,9,25);
  padding-bottom: 45px;
}
.bottom {
  height: 52px;
	width: 100%;
	padding: 5px;
	float: left;
  background: inherit;
  font-weight: 300;
}

/* Media Queries */

@media screen and (max-width:870px) , screen and (max-height: 500px){
    #nav li a {
      font-size: 0.1px;
      line-height: 41px;
    }
    .grid {
      padding: 0 5% 0 5%;
      margin: 0;
      float: left;
      width: 100%;
      text-align: left;
      margin-top: 5px;
    }
    .beginning {
      height: auto;
    }
    .middle {
      height: auto;
    }
    .box {
    	width: 100%;
    	height: auto;
    	padding-right: 5px;
    	margin: 0px 0px 12px 0px;
    	float: left;
    	text-align: left;
    	overflow: hidden;
    }
    .box img {
    	max-width: 100%;
    	height: auto;
    	border-left: 1px solid rgb(230,231,232);
    	border-right: 1px solid rgb(230,231,232);
    }
}
